.cell {
    // Cell styling
    border: 2px solid var(--dark-green);

    // Center cell data
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        filter: brightness(105%);
        cursor: pointer;
    }
}